$main-color: #666859;
$details: #FF7E67;
$text-secondary: #e3e5e3;

.navbar-list-container,
.cart-container,
.logo-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 1rem;
}

.logo-container {
    justify-content: flex-end;
    padding-right: 2.5%;
    /*avoids extra long navbar in huge viewports*/
}

#logo {
    width: 50px;
    margin-right: 0rem;
    margin-left: auto;
}

.navbar-list-container {
    width: 100%;
    height: 100%;

    justify-content: center;
    list-style: none;
}

.cart-container {
    justify-content: flex-start;
    padding-left: 2.5%;

    position: relative;
    right: -75%;
}