$main-color: #666859;
$details: #FF7E67;
$text-secondary: #e3e5e3;
$background-color: #f2f2f3;

.card{
    
    width: 33%;
    max-width: 250px;

    border: solid thin $text-secondary;

}

.card:hover{
    transition: all 0.3s;

    .productCard-title, .productCard-description{
        transition: all 0.1s;
        color: $details;
    }
}

.product-img-container{
    width: auto;

    margin: 10px 5px 0px 5px;
    padding-bottom: 10px;

    border-bottom: solid $background-color;

    background-color: white;
}

#card-img{
    height: 140px;
    object-fit: contain;
}
