$main-color: #666859;
$details: #FF7E67;
$text-secondary: #e3e5e3;
$background-color: #f2f3f2;

#itemDetail {
    width: 100%;
    height: auto;

    padding-top: 90px; //70px navbar mas un poquito
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: $background-color;
}

#itemDetail-card {
    border: solid thin $text-secondary;

    width: 80%;
    max-width: 600px;
    height: auto;

    background-color: white;
}

#itemDetail-imgContainer {
    width: auto;
    height: auto;
    min-height: 50%;

    margin: 0px 5px 5px 5px;

    display: flex;
    justify-content: center;

    border-bottom: solid $text-secondary;
}

#itemDetail-img {
    width: 300px;
    object-fit: contain;
}

#itemDetail-description {
    width: auto;
    height: auto;

    margin-left: 10px;

    #itemDetail-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #itemDetail-brand {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    #itemDetail-price {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
}