$main-color: #666859;
$details: #FF7E67;
$text-secondary: #e3e5e3;
$background-color: #f2f3f2;

#counter-container{
    margin-bottom: 15px;
}

#counter{
    display: flex;

    margin-bottom: 20px;

    .counter-number, .counter-button {
        border-top: solid thin $main-color;
        border-bottom: solid thin $main-color;
        text-align: center;
    }

    .counter-number{

        width: 60px;
        height: 2rem;

        font-size: 1rem;
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .counter-button{
        width: 40px;
        height: 2rem;
        font-size: 1.2rem;
        background-color: white;
    }

    #minusButton{
        margin-left: 10px;
        border-right: none;
        border-radius: 15px 0px 0px 15px;
    }

    .counter-button:hover{
        transition: all 0.2s;
        background-color: $text-secondary;
    }
    
    #plusButton{
        border-left: none;
        border-radius: 0px 15px 15px 0px;
    }

}

.buy-button{
    width: calc(100% - 20px);
    height: 2.2rem;

    font-size: 1rem;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 20px;
    border: solid thin $main-color;
    background-color: $main-color;
    color: $text-secondary;


    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.buy-button:hover{
    transition: all 0.2s;
    background-color: #666859d6;
}

.buy-button:active{
    transition: all 0.2s;
    background-color: $main-color;
    color: $main-color;
}

