
#summary{
    border: solid red;
    width: 100%;
    min-height: 50vh;
    padding: 80px 0px 20px 10px;
    background-color: $text-secondary;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

